
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141518;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #4CAF50;
}

img {
  width: 35%;
}

.PicCh {
  width: 20%;
  height: 20%;
}

div {
  text-align: center;
  color: white;
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 10px;
  height: 10px;
  overflow: hidden;
}

p {
  font-family: 'Comfortaa', cursive;
}

footer {
  grid-area: footer;
  background-color: Black;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  margin-bottom: 200px;
}

.border {
  border: 2px solid red;
  border-radius: 5px;
}

.background {
  background-color: Black;
}

header {
  border: 2px solid green;
  border-radius: 5px;
  margin-bottom: 200px;
}

.flex {
  display: flex;
}

.margin {
  margin-bottom: 200px;
}
